# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Lockfiles (para evitar conflictos en equipo)
package-lock.json
yarn.lock
